body {
    font: 400 14px/1.4 'Open Sans', Arial, san-serif;
}

.sign-bg {
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;
    min-height: 100%;
}

.wrapper {
    width: 300px;
    margin: 300px auto;
    padding: 0 20px;
    /*background: rgba(255, 0, 0, .1);*/
    box-sizing: border-box;
    text-align: center;
}

.sign-form {
    width: 260px;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid transparent;
    margin-bottom: 20px;
}

.form-logo {
    text-align: center;
    margin-bottom: 20px;
}

.form-title {
    font-size: 11px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin: 36px auto;
}

.sign-field::-webkit-input-placeholder{
    color: #808080;
}

.sign-field {
    display: block;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    margin: 0 auto 10px;
    border: none;
    border-radius: 20px;
    background: #f2f2f2;
    font-size: 11px;
    font-family: inherit;
    color: #000;
    padding: 0 0 3px 40px;
    position: relative;
}

.sign-field-password {
    margin-bottom: 4px;
}

.field-wrapper, .field-wrapper_login, .field-wrapper_password {
    position: relative;
}
.field-wrapper:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 46px;
    width: 12px;
    height: 12px;
    z-index: 1;
}

.field-wrapper_login:before {
    content: url('img/i_user.svg');
}

.field-wrapper_password:before {
    content: url('img/i_lock.svg');
}

.link {
    text-decoration: none;
    color: #0073fe;
    font-size: 12px;
    border: transparent;
    transition: border 0.15s ease-in-out;
}

.link:hover {
    border-bottom: 1px solid rgba(0, 115, 255, .3);
}

.link_white {
    color: #fff;
}

.link_white:hover {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.sign-btn {
    display: block;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin: 16px auto 40px;
    background: #2fb270;
    font-family: inherit;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    color: #fff;
}

.help-text {
    font-size: 12px;
    color: #ccc;
}



