@import "../reset.css";

/* The switch - the box around the toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
/* The toggle */
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}


.marker:before {
    content: url(img/cross.png);
    position: absolute;
    top: 0;
    right: 6px;
}

.marker:after {
    content: url(img/tick.png);
    position: absolute;
    top: 0;
    left: 6px;
}

input[type="checkbox"]:checked + .toggle {
    background-color: #17bbdc;
}

input[type="checkbox"]:focus + .toggle {
    box-shadow: 0 0 1px #17bbdc;
}

input[type="checkbox"]:checked + .toggle:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
.toggle.round {
    border-radius: 20px;
}

.toggle.round:before {
    border-radius: 50%;
}