@import url('https://fonts.googleapis.com/css?family=Oleo+Script|Oxygen');
@import 'notes.css';
@import 'ui-set.css';
@import 'tabs.css';
@import 'footer.css';
@import 'contacts.css';

/*
font-family: 'Oxygen', sans-serif;
font-family: 'Oleo Script', cursive;
*/
body {
    font: 400 12px/1.66em 'Oxygen', 'Arial', Helvetica, sans-serif;
    background: #e5e5e5 url(../images/noise-pattern.gif) repeat;
}

.container, .contacts_container {
    margin: 60px auto;
    padding: 0 20px;
    width: 972px;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    position: relative;
}

.contacts_container:after, .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.b-title {
    font: 400 18px/1.3 'Oxygen', 'Arial', Helvetica, sans-serif;
    color: #222;
}

.link {
    border-color: transparent;
    text-decoration: none;
    color: #666;
}

.link:hover {
    border-bottom: 1px solid #ccc;
    transition: border .15s ease-in-out;
}

.link_white {
    font-size: 13px;
    color: #fff;
    margin: 8px;
    line-height: 2;
}

.link_white:hover {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    transition: border .15s ease-in-out;
}

.small-desc {
    font-size: 11px;
    color: #808080;
    margin: 0 8px;
    line-height: 1.2;
}

.orange-desc {
    color: #ffc14c;
}

.header {
    padding-top: 30px;
    margin-bottom: 90px;
}

.header_contacts {
    margin-bottom: 30px;
}

.h__nav {
    float: right;
}

.h__nav-items {
    list-style: none;
}

.h__nav-item {
    display: inline-block;
    position: relative;
    margin-left: 54px;
    font-size: 14px;
    padding-bottom: 10px;
}

.h__nav-item:last-child {
    margin-left: 30px;
}

.h__nav__sub-nav {
    position: absolute;
    left: -12px;
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 11px 10px 0;
    list-style: none;
    margin-top: 6px;
    background: #fff;
    box-shadow: 0 7px 20px -3px rgba(0, 0, 0, .2);
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform .15s ease-out;
    z-index: 9999   ;
}

.h__nav-item:hover .h__nav__sub-nav {
    display: block;
    transform: scaleY(1);
}

.h__nav__sub-nav:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 22px;
    width: 9px;
    height: 9px;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    transform: scaleX(1.2) rotate(45deg);
}

.h__nav__sub-nav-i {
    font-size: 12px;
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #e5e5e5;
    white-space: nowrap;
}

.item-sub-title {
    display: block;
    color: #aaaaaa;
    font-size: 10px;
    padding-bottom: 4px;
    line-height: 1;
}

.sub-nav-link {
    background: transparent;
    padding: 2px 8px;
    display: block;
    border-radius: 3px;
    margin: 0 -4px;
    transition: background-color .2s ease-out;
}

.sub-nav-link:hover {
    background: #f3f3f3;
    border: none;
}

.h__nav__sub-nav-i:last-child {
    border: none;
    margin: 0;
}

.button-orange {
    display: block;
    color: #fff;
    background: #ffbc44 linear-gradient(to bottom, #ffc654, #ffbc44);
    padding: 4px 6px;
    border: 1px solid #efaf3f;
    border-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    transition: all .15s ease-in-out;
}

.button-orange:hover {
    border: 1px solid #efaf3f;
    box-shadow: 0 0 14px -2px #ffc654;
    transition: all .15s ease-in-out;
}

.header__logo {
    float: left;
}

.header__logo-sign {
    font: 40px/1em 'Oleo Script', cursive;
    color: #222;
    text-decoration: none;
}

.header__logo-sub {
    font-size: 11px;
    color: #999;
    margin: 2px 0;
}

.banner {
    padding: 30px 55px 60px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 1px -1px #f2f2f2;
}

.banner__slider {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 200px;
    background: #f6f6f6;
    box-shadow: 0 18px 9px -18px rgba(0, 0, 0, 1);
}

.banner__slider:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .25);
}

.banner__slider-img-box {
    width: 292px;
    height: 192px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -146px;
    margin-top: -96px;
}

.banner__slider-img {
    width: 292px;
}

.banner__slider-left-arrow, .banner__slider-right-arrow {
    display: block;
    position: absolute;
    bottom: 9px;
    z-index: 100;
    width: 32px;
    height: 49px;
    opacity: .5;
}

.banner__slider-left-arrow {
    left: 9px;
}

.banner__slider-right-arrow {
    right: 9px;
}

.banner__slider-left-arrow:hover, .banner__slider-right-arrow:hover {
    box-shadow: 0 0 10px -1px #fff;
    opacity: .8;
    transition: all .15s ease-out;
}

.banner__slider-description {
    position: absolute;
    bottom: 0;
    width: 212px;
    height: 49px;
    z-index: 100;
    margin-bottom: 9px;
    margin-left: 44px;
    border-radius: 4px;
    background: rgba(0, 0, 0, .5);
}

.banner__desc-box {
    display: inline-block;
    width: 485px;
    margin-left: 20px;
    vertical-align: top;
}

.banner__desc {
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 10px;
}

.banner__desc-title {
    font: 400 38px/1 'Oxygen';
    color: #4d4d4d;
    margin: 10px 0;
    text-align: right;
}

.banner__desc-subtitle {
    font-size: 14px;
    line-height: 18px;
    color: #666;
    text-align: right;
    padding-left: 56px;
}

.big-button {
    float: right;
    position: relative;
    font-size: 17px;
    text-align: left;
    padding: 6px 56px 6px 6px;
    line-height: 1;
    outline: none;
}

.big-button:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 50%;
    margin: auto 38px;
    border-left: 1px solid #e5992e;
    padding: 5px 0;
    box-shadow: 1px 0 0 rgba(255, 255, 255, .4);
}

.big-button:after {
    content: '\203A';
    position: absolute;
    font: 700 37px/34px 'Oxygen', sans-serif;
    padding-right: 13px;
    top: 0;
    right: 0;
    color: #fff;
}

.btn_subtitle {
    display: block;
    font: 700 10px/1 'Oxygen';
    color: #d28600;
    text-transform: uppercase;
    margin-top: 2px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .7);
}

.page-bottom {
    width: 972px;
    height: 30px;
    position: relative;
    border-radius: 4px;
    margin-left: -20px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 rgba(125, 125, 125, .1);
    background: linear-gradient(to bottom, #fff, #f9f9f9);
}

.page-bottom:before, .page-bottom:after {
    content: '';
    width: 100%;
    height: 10px;
    background: transparent;
    position: absolute;
    bottom: 5px;
    border-bottom: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #ececec;
}

.page-bottom:after {
    bottom: 2px;
}

.container:before, .container:after {
    content: '';
    position: absolute;
    bottom: 20px;
    width: 400px;
    height: 40px;
    border-radius: 25%;
    background: transparent;
    box-shadow: 0 20px 23px -8px rgba(0, 0, 0, .8);
    z-index: -1000;
}

.container:before {
    left: 15px;
    transform: rotate(-3deg);
}

.container:after {
    right: 15px;
    transform: rotate(3deg);
}


