
input, textarea {
    outline: none;
}

.cards__wrapper {
    min-width: 500px;
    max-width: 1024px;
    margin: 0 auto;
    padding: 65px 0 76px;
    text-align: center;
}

.block-header {
    font:700 30px/1.4 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #41525c;
    margin-bottom: 56px;
}

.card {
    font: 14px/1.4 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    border: 1px solid #e8eaec;
    border-radius: 4px;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    width: 296px
}

.card__header {
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0 16px;
    color: #fff;
    text-transform: uppercase;
    background: #999;
    margin-bottom: 15px;
    border-radius: 4px 4px 0 0;
}

.card__content {
    padding: 0 15px;
}

.card__item-header {
    font-size: 24px;
    color: #3d3e40;
    text-transform: uppercase;
    font-weight: 700;
}

.card__item-price {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -2px;
    color: #364759;
}

.card__item-price:before {
    content: '$';
    font-size: 21px;
    position: relative;
    right: 4px;
    top: -39px;
}

.card__item-price:after {
    content: 'Monthly';
    font-size: 18px;
    position: relative;
    right: 3px;
    top: 9px;
    letter-spacing: normal;
    font-weight: normal;
}

.card__items {
    margin-bottom: 18px;
    text-align: left;
}

.card__item {
    font-size: 15px;
    color: #888c94;
    background: #edf5fd;
    margin-bottom: 1px;
    padding: 5px 0 7px;
}

.card__item:nth-child(even) {
    background: #f5f5f6;
}

.card__item:before {
    content: url(../img/tick.png);
    margin: 0 17px 0 33px;
    position: relative;
    top: 3px;
}

.card__button {
    display: block;
    background: #666;
    width: 260px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto 30px;
    border: none;
    border-radius: 3px;
    padding: 10px 0 14px;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .3);
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .3);
}

.card__button:active {
    -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, .3);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, .3);
    transition: all 0.07s ease-out;
}

.card__button_orange {
    background: #ee8129;
    margin-bottom: 40px;
}

.card__button_blue {
    background: #3371a6;
}

/*
=======================================
Standart
=======================================
*/
.card__header_standart {
    background: #37c2d3;
}

/*
=======================================
Best Value
=======================================
*/
.card_best-value {
    border: 4px solid #ee8129;
    border-radius: 4px;
    margin: 0 -8px;
    z-index: 100;
    position: relative;
    box-shadow: 0 1px 30px -10px #173b4d;
}

.card__header_best-value {
    background: #ee8129;
    border-radius: 0;
    padding-top: 34px;
}

.card__header_best-value span {
    position: relative;
    top: -10px;
}

/*
=======================================
Ultimate
=======================================
*/
.card__header_ultimate {
    background: #1cb79a;
}
