@import "../../reset.css";
@import "cards.css";
@import "testimonials.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=cyrillic";
@import "https://use.fontawesome.com/0b98b9122b.css";
.container {
}

.container-wrap {
    max-width: 1024px;
    min-width: 600px;
    margin: 0 auto;
}

.header {
    overflow: hidden;
    height: 116px;
    font: 600 14px/2em 'Open Sans', sans-serif;
}

.header-logo {
    float: left;
    line-height: 116px;
    height: 116px;
}

.header-logo p {
    font-size: 36px;
    text-transform: uppercase;
    color: #3070a8;
}

.header-logo span {
    color: #ee8129;
    font-weight: 400;
    text-transform: none;
}

.header__menu {
    float: right;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    padding-top: 57px;
}

.header__menu-item {
    display: inline-block;
    margin-right: 5px;
}

.header__menu-item-a {
    display: block;
    color: #666;
    text-decoration: none;
    padding: 0 15px;
}

.header__menu-item:last-child {
    margin-right: 0;
}

.header__menu-item-a:hover {
    color: #ee8129;
    padding-bottom: 27px;
    border-bottom: 4px solid;
    transition: border .1s ease-in-out .2s, color .2s ease-in-out .2s;
}

.header__menu-item-a_current {
    color: #3070a8;
    padding-bottom: 27px;
    border-bottom: 4px solid;
}
.main-banner-wrapper {
    background: #173b4d url(../img/banner-bg.jpg) no-repeat;
    background-size: cover;
    height: 586px;

}
.main-banner {
    font: 400 20px/1.2 'Open Sans', sans-serif;
    text-align: center;
    color: #fff;
    padding-top: 144px;
    padding-bottom: 20px;
}

.main-banner__subtitle {
    font-size: 36px;
    margin-bottom: 3px;
}

.main-banner__title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-banner__desc {
    font: 400 italic 20px/30px sans-serif;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .3);
}


.banner-button {
    font: 16px "Open Sans";
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, .5);
    padding: 16px 60px;
    margin-top: 40px;
}

.banner-button:hover {
    background: #fff;
    color: #3070a8;
    transition: all .2s ease-in-out .2s;
}

.features {
    padding: 68px 0 54px;
}

.left-col, .center-col, .right-col {
    display: inline-block;
    text-align: center;
    max-width: 300px;
    min-width: 120px;
}

.left-col {
    margin-right: 25px;
}

.center-col {
    margin: 0 25px;
}

.right-col {
    margin-left: 25px;
}
.features-col-tittle {
    font:100 30px "Open Sans", sans-serif;
    letter-spacing: .25px;
    color: #3070a8;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.features-col-text {
    font: 400 14px/25px "Open Sans";
    color: #999;
}
.features-icon {
    margin: 12px 0 18px;
}

.promo {
    background: #333 url(../img/promo-bg.png) no-repeat;
    background-size: cover;
    text-align: left;
    padding: 75px 0 60px;
}

.promo-text {
    max-width: 700px;
}

.promo h2 {
    font: 100 26px/48px "Open Sans";
    letter-spacing: -.25px;
    color: #ee8129;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.promo p {
    font: italic 400 19px/30px "Open Sans";
    color: #fff;
    margin-bottom: 30px;
}

.promo ul {
    padding-left: 18px;
}

.promo li {
    font: 400 14px/30px "Open Sans";
    letter-spacing: .2px;
    color: #999;
    list-style: disc outside;
    margin-bottom: 8px;
}

.promo li:nth-child(2) {
    color: #3070a8;
}

.contacts {
    max-height: 400px;
    overflow: hidden;
}


.contacts__inner {
    padding: 40px 0 30px;
    float: left;
    width: 50%;
    background: #fff;
}

.contacts__map {
    float: right;
    width: 50%;
    background: #ccc;
    height: 200px;
}

.contacts__address, .contacts__phones, .contacts__email  {
    font: 600 14px/30px "Open Sans", sans-serif;
    color: #666;
    margin-bottom: 10px;
    margin-left: 40px;
    position: relative;
}

.contacts__address:before, .contacts__phones:before, .contacts__email:before {
    content: "\f041";
    font-family: FontAwesome;
    position: absolute;
    left: -40px;
    color: #3070a8;
    font-size: 30px;
}

.contacts__phones:before {
    content: "\f10b";
    font-size: 40px;
}

.contacts__email:before {
    content: "\f0e0";
    font-size: 24px;
}

.contacts__social {
    margin-top: 20px;
}

.i-social {
    width:48px;
    height: 48px;
    display: inline-block;
    margin-right: 20px;
}

footer {
    background: #3070a8;
    padding: 20px 0 24px;
}

footer p {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #fff;
    text-align: center;
}

strong {
    font-weight: 700;
}

footer a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

footer a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}