@import "../reset.css";

body {
    font-size: 14px;
}

.menu-wrapper1 {
    background: #eee;
    border: 1px solid transparent;
}

.menu-wrapper2 {
    background: #1aa4ff;
    margin-bottom: 300px
}

.menu {
    width: 900px;
    margin: 0 auto;
    letter-spacing: -1px;
    font-family:'Economica', sans-serif;
    text-align: center;
    position: relative;
}

.menu li {
    display: inline-block;
    color: #fff;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.8;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: 700;
}

.menu li:hover {
    background: #eee;
    color: #a6a6a6;
}


.submenu {
    position: absolute;
    left: 10px;
    background: #eee;
    -visibility: hidden;
    -box-shadow: 0 7px 7px -5px rgba(0, 0, 0, .2);
}

.submenu li {
    text-align: center;
    font: 0.65em sans-serif;
    text-transform: none;
    letter-spacing: 0;
    font-weight: normal;
    color: #808080;
    margin: 0 3px 10px;
    border-radius: 3px;
    padding: 5px 10px;
}