@import "../reset.css";
.card {
    width: 296px;
    font: 14px/1.4 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 40px auto;
    overflow: hidden;
}

.card__header {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    padding: 24px 0 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background: #999;
    margin-bottom: 15px;
}

.card__content {
    padding: 0 15px;
}

.card__header_best-value {
    background: #ee8129;
}

.card__item-header {
    width: 100%;
    font-size: 24px;
    color: #3d3e40;
    text-transform: uppercase;
    text-align: center;
}

.card__item-price {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -2px;
    color: #364759;
}

.card__item-price:before {
    content: '$';
    font-size: 21px;
    position: relative;
    right: 4px;
    top: -39px;
}

.card__item-price:after {
    content: 'Monthly';
    font-size: 18px;
    position: relative;
    right: 3px;
    top: 9px;
    letter-spacing: normal;
    font-weight: normal;
}


.card__item {
    font-size: 15px;
    color: #888c94;
    background: #edf5fd;
    margin-bottom: 1px;
    padding: 5px 0 7px;
}

.card__item:nth-child(even) {
    background: #f5f5f6;
}

.card__item:before {
    content: url(../img/tick.png);
    margin: 0 17px 0 33px;
    position: relative;
    top:3px;

}