@import 'https://fonts.googleapis.com/css?family=Lato:300,400,400i,700';

body {
    font: 400 14px/1.4 "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

.gallery {
    background: #fafafa;
}

.gallery__box {
    max-width: 1170px;
    min-width: 480px;
    margin: 0 auto;
    padding: 40px;
}

.gallery__title {
    font-size: 41px;
    font-weight: 400;
    letter-spacing: .25px;
    text-align: center;
    margin-bottom: 10px;
    color: #2d3950;
}

.gallery__sub-title {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .25px;
    text-align: center;
    margin: 0 0 78px;
    color: #666;
}

.gallery__images {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.gallery__item {
    width: 360px;
    height: 260px;
    overflow: hidden;
    margin: 0 15px 30px;
    border-radius: 2px;
}

.gallery__item img {
    height: 260px;
}